# Nome da pipeline de CI (Build)
name: GlobalSolution-SkillMatch-CI

# Gatilho: Roda sempre que houver um push na branch 'main'
trigger:
- main

# Pool de Agentes: Usa o seu agente local
pool:
  name: 'Meu-Agente-Local'

# Variáveis usadas na pipeline
variables:
  # O nome do seu ACR (que você criou no Portal)
  azureContainerRegistry: 'acrskillmatchfiap.azurecr.io'
  
  # O nome da imagem Docker que será criada
  imageName: 'skillmatch-api'
  
  # O nome da Conexão de Serviço (que você criou no DevOps)
  dockerRegistryServiceConnection: 'ConexaoACR'

# Etapas do Build (CI)
stages:
- stage: Build
  displayName: 'Build, Test & Push Docker Image'
  jobs:
  - job: BuildAndTest
    displayName: 'Build and Test Java Application'
    steps:
    
    # --- A CORREÇÃO FINAL DO JAVA ESTÁ AQUI ---
    # 1. (RE-ADICIONADO) Instala o JDK 17 no agente
    # Isto corrige o erro "JCTree" (Java 21)
    - task: JavaToolInstaller@0
      displayName: 'Install JDK 17'
      inputs:
        versionSpec: '17'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled' # Usa o cache do agente
    # ---------------------------------------------

    # 2. Roda o Maven, agora usando o Java 17 e RODANDO OS TESTES
    - task: Maven@3
      displayName: 'Run Maven Package (WITH TESTS)'
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean package' # 'package' inclui o 'test'
        
        # --- NÃO VAMOS MAIS PULAR OS TESTES ---
        options: '' # (Removido o -DskipTests=true)
        # -------------------------------------
        
        # Diz ao Maven para usar o JAVA_HOME que a tarefa anterior (JavaToolInstaller) definiu
        javaHomeOption: 'Path' 
        jdkDirectory: '$(JAVA_HOME)' 
        
        publishJUnitResults: true # (Requisito do professor)
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        codeCoverageToolOption: 'JaCoCo' # (Requisito do professor)

    # 3. Constrói a Imagem Docker (Usa o seu 'Dockerfile')
    - task: Docker@2
      displayName: 'Build Docker Image'
      inputs:
        containerRegistry: $(dockerRegistryServiceConnection)
        repository: $(imageName)
        command: 'build'
        Dockerfile: 'Dockerfile'
        tags: |
          $(Build.BuildId)
          latest

    # 4. Envia (Push) a Imagem Docker para o seu ACR
    - task: Docker@2
      displayName: 'Push Docker Image to ACR'
      inputs:
        containerRegistry: $(dockerRegistryServiceConnection)
        repository: $(imageName)
        command: 'push'
        tags: |
          $(Build.BuildId)
          latest

    # 5. Publica os Scripts de Infra (Requisito da GS, pág 33)
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Infra Scripts Artifact'
      inputs:
        PathtoPublish: 'scripts'
        ArtifactName: 'infra-scripts'